@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />

    <h1 class="display-4">Let's start planning your event!</h1>
    <br />
    <br />

    <a class="btn btn-light" asp-area="" asp-controller="EventTypes" asp-action="Create">Create EventType</a>
    <a class="btn btn-light" asp-area="" asp-controller="EventTypes" asp-action="Index">View all Events</a>


</div>
