@model EventsApplication.Models.Binding.AddDecorDetailBindingModel


@{
    ViewData["Title"] = "Create DecorDetail";
  
}

<h1>Create NewDecorDetail for @ViewBag.EventTypeOccasionName</h1>
<p>
    <a asp-action="Create">Create New </a>
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDecorDetail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuestCapacity" class="control-label"></label>
                <input asp-for="GuestCapacity" class="form-control" />
                <span asp-validation-for="GuestCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alcohol" class="control-label"></label>
                <select asp-for="Alcohol" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="Alcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Catering" class="control-label"></label>
                <select asp-for="Catering" class="form-control">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="Catering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cuisine" class="control-label"></label>
                <select asp-for="Cuisine" class="form-control">
                    <option value="Italian">Italian</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Indian">Indian</option>
                    <option value="American">American</option>
                    <option value="No Catering">No Catering</option>
                </select>
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>
<div>
    <a asp-action="Index" asp-controller="DecorDetails">Back to All DecorDetails</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}